<header class="app-header app-header--flex" id="header">
  <nav class="navbar navbar-expand-md justify-content-between">
    <a class="navbar-brand" title="Frontend" routerLink="/home/true">
      <span class="navbar-brand__title">Frontend</span>
    </a>

    <app-weather-search></app-weather-search>
    
    <div>
      <button class="navbar-toggler" type="button" title="Toggle Main Navigation"
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        data-toggle="collapse"
        data-target="#navbarNav">
        <em class="material-icons">menu</em>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" title="About Us" routerLink="/about">
              <span>About</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Contact Us" routerLink="/contact">
              <span>Contact Us</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
