.bg-dark {
  color: $bg-dark-color;
  background-color: $bg-dark;
}

.bg-default {
  background-color: $bg-default;
}

.bg-dark-link {
  color: $bg-dark-link-color;
}

.no-scroll {
  overflow: hidden;
}
