---
version: "3.8"

services:
  database:
    build: database
    container_name: database
    hostname: database
    environment:
      POSTGRES_USER: default
      POSTGRES_PASSWORD: default
      POSTGRES_DB: default

    ports:
      - 5438:5432
    restart: always
    volumes:
      - /pgdata

  backend:
    build: backend
    container_name: backend
    hostname: backend
    restart: always
    image: backend:1
    ports:
      - "8080:8080"
    environment:
      POSTGRESQL_HOST: database
      POSTGRESQL_USER: default
      POSTGRESQL_PASSWORD: default
      POSTGRESQL_DATABASE: default
    links:
      - database
    volumes:
      - /backend
  # frontend:
  #   container_name: frontend
  #   entrypoint:
  #     - "sh"
  #     - "-c"
  #     - "npm i && npm run start"
  #   environment:
  #     NODE_ENV: development
  #     BACKEND_URL: backend
  #   healthcheck:
  #     test: [ "CMD", "curl", "-f", "http://localhost:3000" ]
  #     interval: 1m30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 40s
  #   hostname: frontend
  #   image: node:14
  #   links:
  #     - backend
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - ./frontend:/app:z
  #     - /app/node_modules
  #   working_dir: "/app"
