<div>
  <mat-toolbar>
    <!-- <span id='title'>Weather Search</span> -->
    <form (ngSubmit)='search(searchForm)' #searchForm='ngForm'>
      <mat-form-field class="form-field">
        <input matInput 
          id="city"
          placeholder="Search City"
          type='text'
          [(ngModel)]="model.city"
          name='city' 
          required
          #city="ngModel"
          autocomplete="off">
        <mat-error *ngIf="city.invalid && (city.dirty || city.touched)">
          <span *ngIf='city.errors.required'>
            City location is required.
          </span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type='submit'>Search</button>
    </form>
  </mat-toolbar>
</div>